.navbar{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    
}

.logo img{
    width: 500px;
    /* border: 2px solid blue; */
    margin-top: 200px;
    padding-bottom: 120px;
    
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid greenyellow; */
    margin-left: -800px;
    margin-top: -400px;
    
}

.nav a{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 200;
    
}


/* *************************************************************************************************************************8 */


.main-body{
    margin-left: 40px;
    margin-right: 40px;
    /* border: 2px solid red; */
    padding-left: 40px;
    padding-right: 40px;
}

.text h1{
    font-size: 3rem;
}